<a href="https://colab.research.google.com/github/throwmen/PythonDataScience/blob/main/Pandas_Basics_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd

# Create a DataFrame

In [57]:
# read the 'bestsellers with categories' csv file
bestsellers = pd.read_csv('bestsellers with categories.csv')
bestsellers

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [58]:
# get access to the shape attribute
bestsellers.shape

(550, 7)

In [59]:
# find the data types of each colum
bestsellers.dtypes

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

# Display a DataFrame

In [60]:
bestsellers.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [61]:
bestsellers.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

# Add a new Column with an array

In [62]:
import numpy as np

In [63]:
critic_rating = np.random.randint(1, 4, 550)

In [64]:
bestsellers['Critic Rating'] = critic_rating
bestsellers

,Name,Author,User Rating,Reviews,Price,Year,Genre,Critic Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,3
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,3
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,2
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,2
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,1
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,2
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,3
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,2
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,1
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,3

In [65]:
bestsellers.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Critic Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,3
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,3
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,2
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,2
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,1

# Basic Attributes, Methods and Functions

In [66]:
bestsellers.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre',
       'Critic Rating'],
      dtype='object')

# Selecting Two or More Columns from a Dataframe

In [67]:
bestsellers = bestsellers[['Name', 'Author', 'User Rating', 'Critic Rating', 'Reviews', 'Price', 'Year', 'Genre']]

In [68]:
bestsellers

,Name,Author,User Rating,Critic Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,3,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,2,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,2,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,1,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,2,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,2,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2019,Non Fiction

In [69]:
bestsellers.head()

,Name,Author,User Rating,Critic Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,3,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,2,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,2,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,1,7665,12,2019,Non Fiction

# Operations on Dataframes

In [72]:
bestsellers['Average Rating'] = (bestsellers['User Rating'] + bestsellers['Critic Rating'])/2
bestsellers = round(bestsellers, 1)

In [73]:
bestsellers.head()

,Name,Author,User Rating,Critic Rating,Reviews,Price,Year,Genre,Average Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3,17350,8,2016,Non Fiction,3.8
1,11/22/63: A Novel,Stephen King,4.6,3,2052,22,2011,Fiction,3.8
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,2,18979,15,2018,Non Fiction,3.4
3,1984 (Signet Classics),George Orwell,4.7,2,21424,6,2017,Fiction,3.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,1,7665,12,2019,Non Fiction,2.9

# Value Counts

In [75]:
bestsellers['Genre'].value_counts(normalize = True)

Genre
Non Fiction    0.563636
Fiction        0.436364
Name: proportion, dtype: float64

# Rename Columns

In [76]:
bestsellers.rename(columns={'User Rating': 'UR', 'Critic Rating': 'CR', 'Average Rating': 'AR'}, inplace=True)
bestsellers

,Name,Author,UR,CR,Reviews,Price,Year,Genre,AR
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3,17350,8,2016,Non Fiction,3.8
1,11/22/63: A Novel,Stephen King,4.6,3,2052,22,2011,Fiction,3.8
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,2,18979,15,2018,Non Fiction,3.4
3,1984 (Signet Classics),George Orwell,4.7,2,21424,6,2017,Fiction,3.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,1,7665,12,2019,Non Fiction,2.9
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,2,9413,8,2019,Fiction,3.4
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2016,Non Fiction,3.8
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,2,14331,8,2017,Non Fiction,3.4
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2018,Non Fiction,2.8
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2019,Non Fiction,3.8

In [77]:
bestsellers.head()

,Name,Author,UR,CR,Reviews,Price,Year,Genre,AR
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3,17350,8,2016,Non Fiction,3.8
1,11/22/63: A Novel,Stephen King,4.6,3,2052,22,2011,Fiction,3.8
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,2,18979,15,2018,Non Fiction,3.4
3,1984 (Signet Classics),George Orwell,4.7,2,21424,6,2017,Fiction,3.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,1,7665,12,2019,Non Fiction,2.9

In [78]:
bestsellers = bestsellers[['Name', 'Author', 'UR', 'CR', 'AR', 'Year']]
bestsellers

,Name,Author,UR,CR,AR,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3,3.8,2016
1,11/22/63: A Novel,Stephen King,4.6,3,3.8,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,2,3.4,2018
3,1984 (Signet Classics),George Orwell,4.7,2,3.4,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,1,2.9,2019
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,2,3.4,2019
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,3.8,2016
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,2,3.4,2017
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,2.8,2018
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,3.8,2019

In [79]:
bestsellers.sort_values(['UR', 'CR'], ascending=False)

,Name,Author,UR,CR,AR,Year
40,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,3,4.0,2017
81,Dog Man and Cat Kid: From the Creator of Capta...,Dav Pilkey,4.9,3,4.0,2018
83,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,4.9,3,4.0,2018
84,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,4.9,3,4.0,2019
85,Dog Man: Fetch-22: From the Creator of Captain...,Dav Pilkey,4.9,3,4.0,2019
...,...,...,...,...,...,...
393,The Goldfinch: A Novel (Pulitzer Prize for Fic...,Donna Tartt,3.9,2,3.0,2014
106,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,3,3.4,2012
107,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,1,2.4,2013
132,Go Set a Watchman: A Novel,Harper Lee,3.6,2,2.8,2015
353,The Casual Vacancy,J.K. Rowling,3.3,2,2.6,2012