<a href="https://colab.research.google.com/github/throwmen/PythonDataScience/blob/main/Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# Creating a datagrame from array

## Option 1

In [3]:
# creating an array
data = np.array([[1, 4], [2, 5], [3, 6]])
data

array([[1, 4],
       [2, 5],
       [3, 6]])

In [5]:
# creating a dataframe
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'], columns=['col1', 'col2'])

In [6]:
# showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

## Option 2

In [8]:
# creating an array with list shape
data = [[1, 4], [2, 5], [3, 6]]
data

[[1, 4], [2, 5], [3, 6]]

In [9]:
# creating a dataframe
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'], columns=['col1', 'col2'])

In [10]:
# showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# Creating a DataFrame from a dictionary

In [11]:
# lists used for this example
states = ['California', 'Texas', 'Florida', 'New York']
population = [39613493, 29730311, 21944577, 19299981]

In [12]:
# Storing lists within a dictionary
dict_states = {'States': states, 'Population': population}

In [13]:
# Creating the dataframe
df_population = pd.DataFrame(dict_states)

In [14]:
df_population

       States  Population
0  California    39613493
1       Texas    29730311
2     Florida    21944577
3    New York    19299981

# Creating a DataFrame from a csv file

In [16]:
# reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')

In [17]:
# show first 5 rows in a dataframe
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [18]:
# show las 5 rows in a dataframe
df_exams.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [20]:
# show last n rows in a dataframe
df_exams.tail(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [21]:
# getting access to the shape attribute
df_exams.shape

(1000, 8)

In [26]:
# display n rows
pd.set_option('display.max_rows', 10)
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

# Attributes

In [27]:
# getting access to the shape attribute
df_exams.shape

(1000, 8)

In [28]:
# getting access to the index attribute
df_exams.index

RangeIndex(start=0, stop=1000, step=1)

In [29]:
# getting access to the column attribute
df_exams.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [30]:
# data types of each column
df_exams.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

# Methods

In [31]:
# showing the first 5 columns
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [32]:
# showing the info of the dataframe
df_exams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [33]:
# describing basic statistics of the dataframe
df_exams.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

# Functions

In [34]:
# obtaining the length of the datagrame (number of rows)
len(df_exams)

1000

In [36]:
# obtaining the highest index of the dataframe
max(df_exams.index)

999

In [37]:
# obtaining the lowest index of the dataframe
min(df_exams.index)

0

In [38]:
# obtaining the data type
type(df_exams)

pandas.core.frame.DataFrame

In [39]:
# rounding the values of the dataset
round(df_exams, 2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

# Selecting one column

## Syntax 1

In [40]:
# select a column with [] (preferred way to select a column)
df_exams['gender']

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [41]:
# check out the data type of a column
type(df_exams['gender'])

pandas.core.series.Series

In [42]:
# series: attributes and methods
df_exams['gender'].index
df_exams['gender'].head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object

## Syntax 2

In [43]:
# select a column with .
df_exams.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [44]:
# select a column with . (pitfalls)
df_exams.math score

SyntaxError: invalid syntax (ipython-input-3061062658.py, line 2)

In [45]:
# select the same column using []
df_exams['math score']

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

# Selecting two or more columns

In [47]:
# select 2 columns using [[]]
df_exams[['gender', 'math score']]

     gender  math score
0    female          72
1    female          69
2    female          90
3      male          47
4      male          76
..      ...         ...
995  female          88
996    male          62
997  female          59
998  female          68
999  female          77

[1000 rows x 2 columns]

In [48]:
# check out the data type of the selection
type(df_exams[['gender', 'math score']])

pandas.core.frame.DataFrame

In [50]:
# select 2 or more columns using [[]]
df_exams[['gender', 'writing score', 'math score', 'reading score']]

     gender  writing score  math score  reading score
0    female             74          72             72
1    female             88          69             90
2    female             93          90             95
3      male             44          47             57
4      male             75          76             78
..      ...            ...         ...            ...
995  female             95          88             99
996    male             55          62             55
997  female             65          59             71
998  female             77          68             78
999  female             86          77             86

[1000 rows x 4 columns]

In [51]:
# we can't select 2 or more columns with the "."
df_exams.'gender', 'math score'

SyntaxError: invalid syntax (ipython-input-636409209.py, line 2)

# Adding a new column

## Adding a new column with a scalar value

In [52]:
# adding a new column to dataframe
df_exams['language score'] = 70
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,70
1,female,group C,some college,standard,completed,69,90,88,70
2,female,group B,master's degree,standard,none,90,95,93,70
3,male,group A,associate's degree,free/reduced,none,47,57,44,70
4,male,group C,some college,standard,none,76,78,75,70
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,70
996,male,group C,high school,free/reduced,none,62,55,55,70
997,female,group C,high school,free/reduced,completed,59,71,65,70
998,female,group D,some college,standard,completed,68,78,77,70
999,female,group D,some college,free/reduced,none,77,86,86,70

## Adding a new column with an array

The dataframe has 1000 rows, so we need to create an array with 1000 elements

In [53]:
# import numpy
import numpy as np

In [54]:
# create an array of 1000 elements
language_score = np.arange(0, 1000)

In [55]:
# length of the array
len(language_score)

1000

In [56]:
# adding a new column to dataframe with an array
df_exams['language score'] = language_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,0
1,female,group C,some college,standard,completed,69,90,88,1
2,female,group B,master's degree,standard,none,90,95,93,2
3,male,group A,associate's degree,free/reduced,none,47,57,44,3
4,male,group C,some college,standard,none,76,78,75,4
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,995
996,male,group C,high school,free/reduced,none,62,55,55,996
997,female,group C,high school,free/reduced,completed,59,71,65,997
998,female,group D,some college,standard,completed,68,78,77,998
999,female,group D,some college,free/reduced,none,77,86,86,999

In [58]:
# create random integer numbers between 1 and 100
int_language_score = np.random.randint(1, 100, size = 1000)

In [59]:
# min value inclusive and high value exclusive
min(int_language_score)
max(int_language_score)

np.int64(99)

In [61]:
# adding a new column to dataframe with an array
df_exams['language score'] = int_language_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,86
1,female,group C,some college,standard,completed,69,90,88,31
2,female,group B,master's degree,standard,none,90,95,93,79
3,male,group A,associate's degree,free/reduced,none,47,57,44,56
4,male,group C,some college,standard,none,76,78,75,69
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,65
996,male,group C,high school,free/reduced,none,62,55,55,48
997,female,group C,high school,free/reduced,completed,59,71,65,72
998,female,group D,some college,standard,completed,68,78,77,9
999,female,group D,some college,free/reduced,none,77,86,86,30

In [62]:
# create random float numbers between 1 and 100
np.random.uniform(1, 100, size = 1000)

array([78.21451264, 92.10231757, 17.65997809, 88.95174603, 96.78221912,
       21.56705017, 66.7617287 , 94.96832504, 13.7655155 , 85.34899037,
       34.39907899, 39.96846534, 69.23770331, 63.45756292, 46.09006506,
       84.63069146, 66.46199904, 55.08355674, 50.64647212, 32.11868806,
       48.23712291, 49.34259873, 33.17148497, 38.46758245, 30.15428089,
       11.04949412, 81.27547188, 68.46847843, 62.18192214,  1.07594183,
       53.60352304, 66.12323753, 29.71306129, 56.54187467, 70.44194839,
       31.52050632, 21.74376581, 36.62784059, 87.86644732, 12.01577256,
       58.47481321, 42.7984344 , 68.53221133, 74.81282492,  5.3514388 ,
       71.72276189, 89.19316885, 17.56476675,  3.91148799,  6.69578013,
       75.86088028, 24.86420561, 35.29127432, 33.50572556, 45.06809875,
       55.64531905, 98.10841567, 76.12601291, 82.15580207, 90.55755681,
       89.38502741, 46.11409506, 56.27295628, 65.90535443, 41.92349241,
       61.29209884, 76.06884881, 94.55032509, 14.05700857, 47.60795784,
       36.85867273, 23.72184431, 33.16141147, 13.96402468, 86.63709887,
       13.123067  , 15.54433677, 87.92239752, 23.82075636, 76.22307183,
       58.57075377, 47.1374365 ,  6.19176483, 55.39815836, 78.68183957,
       32.75608495, 85.50743313, 85.52113212, 82.1028349 , 69.04641161,
       68.93156748, 29.3267831 , 86.0873168 , 85.21113049, 35.01187068,
       13.35062773,  3.31419721, 13.72720008, 74.10036127, 44.38768781,
       94.73699183, 18.93106346, 46.93512784, 40.94594178, 21.80681593,
       14.37363003, 20.40899347,  8.56374132, 59.28276494, 63.38798335,
        3.60165234, 67.60870453, 70.64481801, 10.09470771, 66.92590878,
       44.16331193, 19.79521607, 96.29931181, 14.07290586, 84.27319424,
        6.25069983, 87.81832586, 87.49479391, 29.66892476, 43.31094796,
       49.06692744, 97.93829054, 80.42176346, 10.07472961, 44.84927936,
       90.51510529, 76.52923348, 84.15234439, 13.12887307, 22.68246975,
       21.23627807,  9.86738871, 97.20855118, 74.877001  ,  8.33626113,
       71.46697894, 26.07817002, 52.76307345, 89.79594144,  9.14798617,
       50.32590568, 58.23354814, 72.44133474, 51.12941802,  7.76254947,
       62.33689018, 97.55846217, 75.83328551, 23.20996663, 90.90122056,
       90.91391274, 71.40254529,  3.94621227, 61.74849937, 83.50769334,
       11.49016971, 73.66262402, 54.31379412, 33.48238752, 51.90570959,
       21.49478138, 36.55429179,  7.23690929,  6.17503209, 53.36467202,
       30.38526629, 79.32873763, 93.69987861,  2.98056124, 89.93372595,
       40.5984685 , 78.19366074, 96.96325174, 48.06031176, 85.08721606,
       92.52335211, 99.12369875, 66.30242557, 26.63258812,  3.64137244,
       56.21191553, 49.5552385 , 65.03107715, 88.14070084, 89.42556595,
       14.43904259, 26.03115767, 86.38023272, 28.9780671 , 10.42309923,
       90.79680366, 70.60755293, 11.41555858, 64.74452715, 63.7749217 ,
       20.9742124 , 59.10105847, 66.22462512, 96.79579661, 74.03911312,
       24.79309336, 47.87631856, 44.50704476, 47.20859688,  1.74438625,
       72.26972972, 57.47587474, 79.79631613, 31.27689877, 39.385448  ,
       59.40840056, 23.26357873, 49.53853511, 72.10297648, 97.33275018,
       55.83314472, 36.88203856, 59.92675599, 55.55079278, 99.70317079,
       33.24407503, 65.83561794, 87.23235639, 57.67529105, 71.1197403 ,
       40.39236675, 55.01828217, 80.06979548, 13.47610677, 93.29678866,
       51.25883698, 10.49453274, 76.27999545, 78.63671929,  8.25038682,
       71.23814073,  7.59919637, 67.4246172 , 29.44888764, 56.35654807,
       40.0132729 , 42.76625951, 66.03753903, 39.59090987, 12.1308356 ,
       22.90652629, 31.68024779, 66.47959638, 93.10671136, 88.20516015,
       62.38210579, 58.85731496, 44.2926069 , 12.01356296, 26.75676741,
       96.31274844, 94.91835851, 60.20475854, 19.25663224, 57.69451729,
       91.77530247, 23.45382654, 49.15869577, 72.15625041,  1.58187758,
       89.38874871, 59.78512634, 22.08381098, 49.73665169, 94.68554854,
        7.96316491, 71.58055576, 20.58759951, 87.38994497, 72.04373155,
       28.23658194, 42.94066953,  6.81385269, 26.30601905, 80.3884997 ,
       84.51256487, 28.69560995, 29.94902065, 90.85109595, 26.35228468,
       85.87138694, 31.75279526, 42.64127925, 32.85195159, 21.08111069,
       34.06674457, 74.42034686,  3.43860719, 68.67062276, 77.94770889,
       28.65167458, 11.90069581, 20.55106009, 16.79078101,  3.64096176,
       42.823997  , 83.71100228, 98.20553256, 13.99458825, 33.15103327,
       48.77954133, 48.05040004, 57.51363031,  5.80596263, 32.13585123,
       73.39132239, 23.59567296, 60.94546837, 25.63007536, 47.59490377,
       34.85068946, 86.30238441, 57.16018179, 34.99318889, 85.90090564,
       76.22809506,  4.93225836, 11.63985544, 53.84344654, 54.28705271,
        4.69673125, 87.08161585, 61.3752691 , 88.54281597, 84.86567191,
       20.74318702,  8.00863758, 66.36191003, 51.02795389, 79.05481732,
       95.55806729, 86.8026619 , 32.70208694, 50.34405603, 69.15561525,
       24.94106984, 61.83844857,  8.8538084 , 60.88888489, 26.95271794,
       95.43950367, 84.1597699 , 30.98131162, 97.62775363, 55.54151777,
       23.85202048, 10.9377483 , 21.41351452,  9.0124639 , 39.25538194,
       81.43896177, 22.32529408, 51.71634926, 66.44808547, 78.34872815,
       14.78340811,  3.08336568, 73.14184555, 75.61840227, 88.49555872,
       47.6864364 , 19.33402016, 85.2067308 , 50.03572013, 91.67484154,
        6.26943392, 40.67514457, 29.5844017 , 60.83811392, 79.39696613,
       66.15117445, 37.00764328, 99.5516642 , 46.31052906,  5.43899513,
       38.79370342, 18.16014085, 38.6541348 , 54.39573731, 13.49638453,
       47.17191807, 88.44024859, 99.68445412, 96.5695079 , 36.00371376,
       92.80725643, 86.54639546, 65.18109651, 66.89455862, 12.1259954 ,
       47.07584636, 88.42591617, 82.55861227, 36.83984799, 80.36489818,
       44.53108657, 89.60830946, 54.72404835, 87.52641224, 22.23569708,
       71.62207233, 41.76898329, 98.16343538, 74.27481237, 92.27966418,
        3.952453  , 36.92849373, 98.48176411, 89.77441056,  8.61977087,
       54.4884968 , 98.80677396, 37.33760949, 25.52396433, 15.98807731,
        6.89316356, 86.59809272, 14.36629871, 17.20703486, 46.66339364,
       58.1094583 , 64.58115199, 27.43041015, 55.18517237, 38.59198158,
       10.86420758, 40.41399534, 17.39822091, 45.58710446, 84.6631158 ,
       94.48453353, 77.14725162, 93.99302238, 38.44546784, 15.30518787,
       53.29197097, 76.59267264, 97.98586225, 77.40524503, 40.65264393,
       88.77955146, 74.00279926, 31.62165514, 22.58993447, 56.63485151,
       32.67619917, 19.93287783, 97.79472411, 71.2712305 ,  1.41894887,
       44.00077173, 92.29505665, 72.20244204, 67.1514281 , 37.31841112,
        9.93796702, 89.06790331, 35.71043091, 32.50079217, 84.49927587,
       48.37299998,  7.50658038,  3.1752747 , 71.19021103, 79.93946089,
       17.02796265, 78.82836292,  3.14665904,  3.4186507 , 38.21049213,
       58.03416355, 94.69881538, 80.79576088, 18.83400653, 96.40571486,
       80.48978484, 77.13691955, 30.82879118, 74.89406092, 50.88421203,
       36.99756626, 67.13263228, 26.26980216,  1.75516576, 33.79153798,
       54.37069813, 85.54310755, 92.64081212,  7.49632975, 53.35023964,
       74.51575867,  9.41860499, 13.16486624, 95.7358929 ,  9.50772769,
       89.62616739, 30.74955879, 27.06381247, 39.2036809 , 67.16218262,
       98.00417811, 53.08305374, 18.06880383, 26.26488489, 32.85555839,
       90.29843927, 75.76836171, 32.73156317, 72.63588846, 41.54731409,
        4.90378786, 62.13896124,  4.63909038, 82.17896467, 51.30026088,
       67.60082631, 19.02600008, 46.12557218, 70.09086471, 10.34494586,
       69.88074706, 68.58260489, 94.44012719, 23.13810169, 83.13449794,
       20.60999572, 81.48457624, 69.85583149, 26.65849623, 74.13164538,
       18.33472771, 89.57727336, 41.64406718, 90.80717707, 41.74609101,
        9.78382323, 45.48511666,  2.64814083, 48.60774254, 56.66380461,
        3.55860456, 32.55590928, 16.45513044, 70.99135781, 35.1685553 ,
       31.94721138, 24.04428091, 10.01763232, 17.62352969, 48.98193062,
       20.72107301, 53.01671845, 89.6490913 , 69.18985502, 45.13907226,
       65.06068957, 72.25613299, 36.08449539, 30.71371845, 28.95739535,
       77.66402656, 71.58812685, 33.11914165, 23.23874903, 58.18910946,
       99.97339461, 79.10861064, 97.8909574 , 60.25677032, 52.16835301,
       44.16422668, 86.78181109, 53.13768745, 79.5006925 , 67.72054052,
       32.03583133, 21.63790369, 90.40547884, 37.41138935, 13.93310398,
       22.68809756, 74.34317108,  6.31497248, 33.93165059, 50.75268066,
       59.59301513,  7.22378455, 47.41561656, 30.39397322,  2.59217338,
       19.16506306, 96.45597883, 45.59442232, 83.55175924, 69.5124029 ,
       67.27147764, 37.6270003 , 24.24445722,  6.17335655, 14.99294506,
       69.63275987, 92.18969711, 86.28383959, 29.01098227, 27.09205841,
       12.81002199, 62.58951811,  3.25985863, 32.26210706, 44.71433793,
       88.104121  , 19.7098224 , 69.20680737, 91.13338792, 22.98309214,
       14.39127424, 66.96662058, 87.75605474, 35.34988332, 98.52188441,
        6.1051696 , 50.25899961, 83.3625708 , 91.56861313, 38.1752407 ,
       15.72473243, 19.75239255, 22.97334985, 40.5278235 , 15.80469165,
       88.0664509 , 19.09436978, 16.08322981, 75.03479708, 95.38591855,
        8.15434486, 63.71358822, 57.08695574, 91.35056021, 30.66553626,
       90.49112378, 76.91530734, 18.87659073, 99.55762484, 34.74296652,
       75.39465476, 13.42231351, 69.92856578, 34.4212788 , 98.67093324,
       93.74279356,  6.73848233, 23.68264933, 86.55911364, 29.01697795,
       60.22129529, 19.47615354, 91.84528375,  8.48829393, 58.48709202,
       71.86870825, 26.01725869, 96.42190983, 78.09871215, 22.17773422,
       69.86148613, 88.74409243, 30.77273744, 34.09897206, 89.85232496,
       89.16130975, 43.90689362, 18.49947902,  4.76551315, 85.97817964,
       93.67089833, 35.59851776, 87.38740022, 80.12211716, 89.84978381,
       14.40995156, 33.77565187, 39.92547623, 64.50118602, 56.6839943 ,
       55.53605639,  2.78115821, 58.82353663, 60.4113042 , 61.49896526,
       80.9109118 , 68.75573788, 34.17499316, 49.64959456, 61.53002889,
        7.87016342, 70.59484745, 36.63163574, 32.09562539, 31.06216877,
       65.06826741,  5.4572728 , 86.11660693, 20.67112538, 67.53035943,
       14.93291229, 77.08178954, 84.4989582 ,  1.03612611, 61.87212001,
       95.95196757, 87.89365886, 10.80053916, 99.47834566, 91.94850919,
       70.3548565 ,  9.47567848, 36.34245591, 31.21312078, 56.55570513,
       24.21114138, 80.71291643, 81.94972214, 52.75565934, 90.78067022,
       24.7991682 , 97.08548985, 95.68441962, 34.25633698, 42.74545989,
       32.73037966, 31.78924769, 35.88246344, 75.7126798 , 79.3248818 ,
       67.59373737, 93.86835535, 86.13697122, 87.10584377, 74.47162793,
       71.86871771, 59.18002863, 72.30339733, 46.91796478,  5.99152392,
       49.81185918, 32.06778487, 95.46809941, 25.44368792, 54.57103365,
       11.07429651, 78.49957918, 53.79971651, 76.38226767, 98.30808757,
        5.1295403 , 21.3957621 , 61.21692167, 68.82893355, 96.9907254 ,
       75.16983265, 51.96697301, 34.10382178, 68.70019642, 13.51310242,
       65.60111377, 95.633435  , 31.2589027 , 16.14133213, 92.50398888,
       93.15290697, 56.99612422,  5.24857005, 43.1920271 , 47.23360545,
       25.10466009,  1.55391684, 19.23260444, 36.73770272,  7.90773193,
       32.60760904, 85.10410372, 23.42781674, 62.73225104, 77.95970542,
       65.56483696, 33.86117388, 93.06526044, 91.39997896, 44.0109295 ,
       46.53762164, 84.17054729, 15.25579327, 61.97537906, 59.25475138,
       42.33892528, 86.87141369, 34.88946274, 73.50341045, 58.10891224,
       62.07485003, 27.55310605,  2.18959453, 56.93075328, 10.07267123,
       75.52311886, 34.73859019, 34.89473704, 45.34191275, 28.94307636,
       68.85488765, 39.80823963, 98.12352468, 94.55892215, 20.5595335 ,
       92.92843113, 63.03884259, 36.93687464,  4.41428875,  3.00199393,
       89.42903145, 89.54405314, 31.64052833, 92.27646824,  8.83203828,
       98.70419082,  5.9691382 , 66.71816567, 47.10829629, 37.63003658,
       36.55749326, 36.19029832, 62.2369337 , 87.15526638, 69.09203456,
       13.2797297 , 21.68976047, 48.89376439, 49.96599514, 84.45372968,
       37.68249454, 46.87778331, 52.0379541 , 98.50333987, 10.03081575,
       54.70012003,  6.10818267, 31.60024654, 11.83024966,  1.89463736,
       57.65869883, 82.27040677, 43.01500083, 42.02754957, 61.99645698,
       97.420999  ,  1.69345929, 52.92767202, 69.93719015,  7.26380457,
       96.06922786, 82.71748542, 95.08353285, 56.06861034, 89.76947089,
       30.14516877, 14.08432195, 53.93562838, 29.80142895, 17.67079366,
       12.95160761, 65.87834302, 41.81945366, 86.06097001, 60.44637692,
       85.43094174, 99.37286916, 89.62124157, 65.32973577, 15.28418156,
       67.58164926, 49.4002495 , 50.73356602, 21.54734055, 18.90112129,
       23.89770051, 73.62148463, 80.61892606, 15.7302466 , 32.37359231,
       97.04096957, 10.00397992, 12.04591194, 10.23393333, 27.10103203,
        7.8098198 , 16.55870828, 96.16146713, 35.07815263, 30.58813097,
       30.04470905, 88.39388347, 31.76808768, 97.81563248, 24.65894591,
       26.84845769, 97.23443428, 73.52440461, 31.72548317, 50.82914008,
       64.49674574, 58.89684365, 56.59255812,  6.5605098 , 62.94456139,
        8.2205757 , 32.59872393, 51.73969158, 69.35195563, 23.32301024,
       91.82933174, 99.41371172, 79.2097242 , 61.30607292, 90.7656269 ,
        5.04434496, 64.37570704, 59.82352411, 10.60170249, 96.35529888,
       84.46011293, 19.06368282, 66.46055219,  9.40880591,  6.78563375,
       43.98811289, 89.65102401, 15.23125553, 27.87601502, 41.13392895,
       22.19704659, 84.19071332, 73.53110647, 84.39016043, 28.11787999,
       31.9827039 , 57.09077378, 89.21448302, 95.41287312, 34.96223811,
        9.8153542 , 54.82099894, 97.79496534,  4.48563844, 94.42591289,
       13.13445533, 89.97502328, 58.79381924, 92.28837609, 50.00571574,
       48.91598666, 43.74797509, 12.83579824, 19.93190907, 34.18963842,
       31.31646319, 52.32765937, 99.80006129, 18.38438979,  4.97777176,
       91.57783235, 37.25575992, 58.08800492, 91.1220602 , 83.83828934,
       36.5088719 , 69.89370996, 20.07486977, 28.61430748, 40.27756178,
       84.32437183, 84.85766274, 87.3793238 , 90.49054992, 93.34246401,
       70.26250703, 95.67934741, 32.23839624, 88.31356873, 94.25911524])

# Adding a neww column

## assign()

when to use assign?
- Add multiple columns in a single line of code
- when you need to overwrite the values of an existing columns (best practice)

It returns a new object (a copy) with all the original columns in addition to the new ones

In [64]:
# create random numbers for our new score columns
score1 = np.random.randint(1, 100, size = 1000)
score2 = np.random.randint(1, 100, size = 1000)

In [68]:
# create a series using the random numbers
series1 = pd.Series(score1)
series2 = pd.Series(score2)

In [72]:
# using assign() to add multiple columns
df_exams = df_exams.assign(score1=series1, score2=series2)

In [73]:
# show dataframe
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,score1,score2
0,female,group B,bachelor's degree,standard,none,72,72,74,86,33,94
1,female,group C,some college,standard,completed,69,90,88,31,12,81
2,female,group B,master's degree,standard,none,90,95,93,79,39,11
3,male,group A,associate's degree,free/reduced,none,47,57,44,56,80,16
4,male,group C,some college,standard,none,76,78,75,69,10,42
...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,65,89,73
996,male,group C,high school,free/reduced,none,62,55,55,48,69,59
997,female,group C,high school,free/reduced,completed,59,71,65,72,69,41
998,female,group D,some college,standard,completed,68,78,77,9,70,62
999,female,group D,some college,free/reduced,none,77,86,86,30,50,59

## insert()

Inserts a new column at a specific position or index

In [74]:
# using index() to add a column at a specific position
df_exams.insert(1, 'test', series1)

In [75]:
# show dataframe
df_exams

,gender,test,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,score1,score2
0,female,33,group B,bachelor's degree,standard,none,72,72,74,86,33,94
1,female,12,group C,some college,standard,completed,69,90,88,31,12,81
2,female,39,group B,master's degree,standard,none,90,95,93,79,39,11
3,male,80,group A,associate's degree,free/reduced,none,47,57,44,56,80,16
4,male,10,group C,some college,standard,none,76,78,75,69,10,42
...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,89,group E,master's degree,standard,completed,88,99,95,65,89,73
996,male,69,group C,high school,free/reduced,none,62,55,55,48,69,59
997,female,69,group C,high school,free/reduced,completed,59,71,65,72,69,41
998,female,70,group D,some college,standard,completed,68,78,77,9,70,62
999,female,50,group D,some college,free/reduced,none,77,86,86,30,50,59

# Math Operations

## Operations in columns

In [79]:
# select a column and calculate total sum
df_exams['math score'].sum()

np.int64(66089)

In [85]:
# count, mean, std, max, and min
df_exams['math score'].count()
df_exams['math score'].mean()
df_exams['math score'].std()
df_exams['math score'].max()
df_exams['math score'].min()

0

In [86]:
# easier calculation with .describe()
df_exams.describe()

,test,math score,reading score,writing score,language score,score1,score2
count,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,50.270000,66.08900,69.169000,68.054000,51.044000,50.270000,49.554000
std,28.169711,15.16308,14.600192,15.195657,27.827944,28.169711,28.340011
min,1.000000,0.00000,17.000000,10.000000,1.000000,1.000000,1.000000
25%,26.000000,57.00000,59.000000,57.750000,27.000000,26.000000,24.000000
50%,51.000000,66.00000,70.000000,69.000000,52.000000,51.000000,51.000000
75%,74.000000,77.00000,79.000000,79.000000,74.000000,74.000000,73.000000
max,99.000000,100.00000,100.000000,100.000000,99.000000,99.000000,99.000000

## Operations in rows

In [87]:
# calculating the sum in a row
df_exams['math score'] + df_exams['reading score'] + df_exams['writing score']

0      218
1      247
2      278
3      148
4      229
      ...
995    282
996    172
997    195
998    223
999    249
Length: 1000, dtype: int64

In [88]:
# calculating the average score and assigning the result to a new column
df_exams['average'] = (df_exams['math score'] + df_exams['reading score'] + df_exams['writing score']) / 3

In [90]:
# showing the dataframe
df_exams.round(2)

,gender,test,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,score1,score2,average
0,female,33,group B,bachelor's degree,standard,none,72,72,74,86,33,94,72.67
1,female,12,group C,some college,standard,completed,69,90,88,31,12,81,82.33
2,female,39,group B,master's degree,standard,none,90,95,93,79,39,11,92.67
3,male,80,group A,associate's degree,free/reduced,none,47,57,44,56,80,16,49.33
4,male,10,group C,some college,standard,none,76,78,75,69,10,42,76.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,89,group E,master's degree,standard,completed,88,99,95,65,89,73,94.00
996,male,69,group C,high school,free/reduced,none,62,55,55,48,69,59,57.33
997,female,69,group C,high school,free/reduced,completed,59,71,65,72,69,41,65.00
998,female,70,group D,some college,standard,completed,68,78,77,9,70,62,74.33
999,female,50,group D,some college,free/reduced,none,77,86,86,30,50,59,83.00

# Value Counts

In [91]:
# counting gender elements

# len function
len(df_exams['gender'])
# .count() method
df_exams['gender'].count()

np.int64(1000)

In [92]:
# counter gender elements by category
df_exams['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [93]:
# return the relative frequency (divide all values by the sum of values)
df_exams['gender'].value_counts(normalize=True)

gender
female    0.518
male      0.482
Name: proportion, dtype: float64

In [94]:
# counting "parental level of education" elements by category
df_exams['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [95]:
# return the relative frequency and round to 2 decimals
df_exams['parental level of education'].value_counts(normalize=True).round(2)

parental level of education
some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: proportion, dtype: float64

# Sort a dataframe

In [97]:
# sort by one column
df_exams.sort_values(by = 'math score')

,gender,test,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,score1,score2,average
59,female,57,group C,some high school,free/reduced,none,0,17,10,67,57,97,9.000000
980,female,65,group B,high school,free/reduced,none,8,24,23,29,65,35,18.333333
17,female,81,group B,some high school,free/reduced,none,18,32,28,25,81,2,26.000000
787,female,94,group B,some college,standard,none,19,38,32,51,94,73,29.666667
145,female,59,group C,some college,free/reduced,none,22,39,33,26,59,3,31.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
623,male,41,group A,some college,standard,completed,100,96,86,1,41,58,94.000000
625,male,76,group D,some college,standard,completed,100,97,99,52,76,5,98.666667
962,female,54,group E,associate's degree,standard,none,100,100,100,22,54,93,100.000000
458,female,81,group E,bachelor's degree,standard,none,100,100,100,3,81,95,100.000000
916,male,21,group E,bachelor's degree,standard,completed,100,100,100,26,21,7,100.000000

In [98]:
# sort descending by one column
df_exams.sort_values('math score', ascending = False)

,gender,test,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,score1,score2,average
451,female,50,group E,some college,standard,none,100,92,97,69,50,11,96.333333
458,female,81,group E,bachelor's degree,standard,none,100,100,100,3,81,95,100.000000
962,female,54,group E,associate's degree,standard,none,100,100,100,22,54,93,100.000000
149,male,9,group E,associate's degree,free/reduced,completed,100,100,93,73,9,76,97.666667
623,male,41,group A,some college,standard,completed,100,96,86,1,41,58,94.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,female,59,group C,some college,free/reduced,none,22,39,33,26,59,3,31.333333
787,female,94,group B,some college,standard,none,19,38,32,51,94,73,29.666667
17,female,81,group B,some high school,free/reduced,none,18,32,28,25,81,2,26.000000
980,female,65,group B,high school,free/reduced,none,8,24,23,29,65,35,18.333333
59,female,57,group C,some high school,free/reduced,none,0,17,10,67,57,97,9.000000

In [ ]:
# sort descending by multiple columns
df_exams.sort_values('math score', ascending = False)