<a href="https://colab.research.google.com/github/throwmen/PythonDataScience/blob/main/PruebaInicial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
def fact(n : int) -> int:
  if(n == 0):
    return 1
  return n*fact(n-1)

fact(54)

230843697339241380472092742683027581083278564571807941132288000000000000

In [6]:
class Book:
  def __init__(self, pages : int, author : str = "Anonymous", title : str = "Untitled"):
    self.pages = pages
    self.author = author
    self.title = title

  def __str__(self) -> str:
    return f"{self.title} by {self.author} with {self.pages} pages"

book1 = Book(400, "John Doe", "My Book")
book2 = Book(100)
book3 = Book(200, "Jane Doe")
print(book1.__str__())
print(book2.__str__())
print(book3.__str__())

My Book by John Doe with 400 pages
Untitled by Anonymous with 100 pages
Untitled by Jane Doe with 200 pages